{% extends 'base.html.twig' %}

{% block title %}Edit "{{ task.title }}"{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}

{% block body %}
	<div class="container mx-auto px-4 py-8">
		<h1 class="text-3xl font-bold mb-6">Edit "{{ task.title }}"</h1>

		<div class="bg-white shadow-md rounded-lg p-6">
			{{ include('task/_form.html.twig') }}
		</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function()
		{
			flatpickr('.flatpickr-input', {
				enableTime: true,
				dateFormat: "Y-m-d H:i",
				time_24hr: true,
			});
		});
	</script>
{% endblock %}
